body {
    background: #efefef;
}
.hero {
    background: url(../../base/images/background-tile.png); */
}
.masthead {
    margin-bottom: initial;
    padding: 1px 0;
    color: #fff;
    background: #777777;
    border-bottom: #cccccc 4px solid;
}
.masthead .site-search input {
    width: 300px;
    padding: 5px 10px;
    background-color: #777777;
    border: 1px solid #656565;
}
.main {
    padding-top: 5px;
}
.toolbar {
    position: relative;
    margin-bottom: 5px;
    padding: 5px 0;
}
.site-footer {
    margin-bottom: initial;
    padding: 10px 0;
    color: #fff;
    background: #1f1f1f;
    padding: 20px 0;
}